/*custom media queries*/
@custom-media --large-mobile (min-width: 480px);
@custom-media --pad (min-width: 736px);
@custom-media --large-pad (min-width: 820px);


.share-list{
  width: 100%;
  /*height: 500px;*/
  lost-utility: clearfix;
  div{
    lost-column: 1;
    lost-align: middle-left;
    height: 60px;
    border-bottom: solid 1px #d2d7dc;
  }
  @media (--pad){
    div{
      padding-top: 2em;
      lost-column: 1/2 2 0px;
    }
  }
  @media (--large-pad){
    lost-column: 1/2;
  }
}

.icon{
  &:before{
    display: inline-block;
    width: 2em;
    height: 2em;
    color: #fff;
    background: #61666b;
    border-radius: 0.35em;
    text-align: center;
    margin-right: 0.75em;
    font-size: 1.25rem;
    line-height: 2;
  }
}

.twitter{
  composes: icon;
  &:before {
    font-awesome: twitter;
  }
}

.facebook{
  composes: icon;
  &:before{
    font-awesome: facebook;
  }
}

.dribbble{
  composes: icon;
  &:before{
    font-awesome: dribbble;
  }
}

.instagram{
  composes: icon;
  &:before{
    font-awesome: instagram;
  }
}

.youtube{
  composes: icon;
  &:before{
    font-awesome: youtube;
  }
}

.pinterest{
  composes: icon;
  &:before{
    font-awesome: pinterest;
  }
}
