@custom-media --pad (min-width: 736px);
@custom-media --desktop (min-width: 1024px);

/* reset */
ul , li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* style*/
.item{
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  &:last-of-type{
    border-bottom: none;
  }
  &:hover{
    filter: blur(1px);
  }
}

.nav {
  background: deepskyblue;
  display: flex;
  flex-flow: column wrap;
  @media (--pad){
    flex-flow: row wrap;
    justify-content: space-around;
  }
  @media (--desktop){
    justify-content: flex-end;
  }
}
